---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [68]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    state_names = states.values()
    data = []
    
    with open('university_towns.txt') as file:
        line = file.readline()
        
        while line:
            line = line.replace('\n', '')
            line = line.split('(')[0]
            line = line.split('[')[0]
            data.append(line)  
            
            line = file.readline()
    
    category = {}
    while len(data) > 0:
    
        for i in range(len(data)-1, -1, -1):
            if data[i] in state_names:
                category[data[i]] = data[i+1:]
                break
        data = data[0:i]
        
    rows = []
    for key, value in category.items():
        for city in value:
            a_row = [key, city]
            rows.append(a_row)
            
    answer = pd.DataFrame(rows, columns = ["State", "RegionName"]) 
    
    return answer

get_list_of_university_towns()

# get_list_of_university_towns().groupby('State').size()

         State   RegionName
0      Wyoming     Laramie
1    Wisconsin    Appleton
2    Wisconsin  Eau Claire
3    Wisconsin   Green Bay
4    Wisconsin   La Crosse
..         ...          ...
512    Alabama  Livingston
513    Alabama  Montevallo
514    Alabama        Troy
515    Alabama  Tuscaloosa
516    Alabama    Tuskegee

[517 rows x 2 columns]

In [77]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp.loc[:, ['Unnamed: 4', 'Unnamed: 6'] ]
    gdp.rename(columns = {'Unnamed: 4': 'YearQuarter', 'Unnamed: 6': 'GDP in billions of chained 2009 dollars'}, 
               inplace = True)
    
    gdp = gdp[gdp['YearQuarter'].str[0] == '2']

    for i in range(220, 284):
        a_gdp = gdp.loc[i, 'GDP in billions of chained 2009 dollars']
        previous_gdp = gdp.loc[i-1, 'GDP in billions of chained 2009 dollars']
        next_gdp = gdp.loc[i+1, 'GDP in billions of chained 2009 dollars']
        
        if a_gdp < previous_gdp and next_gdp < a_gdp:
            
            return gdp.loc[i,'YearQuarter']
    


get_recession_start()

'2008q3'

In [54]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp.loc[:, ['Unnamed: 4', 'Unnamed: 6'] ]
    gdp.rename(columns = {'Unnamed: 4': 'YearQuarter', 'Unnamed: 6': 'GDP in billions of chained 2009 dollars'}, 
               inplace = True)
    
    gdp = gdp[gdp['YearQuarter'].str[0] == '2']
    
    recess_st = get_recession_start()
    
    recess_st_idx = gdp.index[gdp['YearQuarter'] == recess_st].to_list()[0]

    for i in range(recess_st_idx+1, 285):
        a_gdp = gdp.loc[i, 'GDP in billions of chained 2009 dollars']
        previous_gdp = gdp.loc[i-1, 'GDP in billions of chained 2009 dollars']
        pre_previous_gdp = gdp.loc[i-2, 'GDP in billions of chained 2009 dollars']
        
        if a_gdp > previous_gdp and previous_gdp > pre_previous_gdp:
            
            return gdp.loc[i,'YearQuarter']

        
        
get_recession_end()

'2009q4'

In [93]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp.loc[:, ['Unnamed: 4', 'Unnamed: 6'] ]
    gdp.rename(columns = {'Unnamed: 4': 'YearQuarter', 'Unnamed: 6': 'GDP in billions of chained 2009 dollars'}, 
               inplace = True)
    
    gdp = gdp[gdp['YearQuarter'].str[0] == '2']
    
    recess_st = get_recession_start()
    recess_st_idx = gdp.index[gdp['YearQuarter'] == recess_st].to_list()[0]
    
  
    recess_end = get_recession_end()
    recess_end_idx = gdp.index[gdp['YearQuarter'] == recess_end].to_list()[0]
    

    recess_df = gdp.loc[recess_st_idx: recess_end_idx]
    bottom_gdp = recess_df['GDP in billions of chained 2009 dollars'].min(axis = 0)
    
    bottom_year = recess_df.loc[recess_df['GDP in billions of chained 2009 dollars'] == bottom_gdp, 'YearQuarter']
    
    return bottom_year.to_list()[0]
        
    
    

get_recession_bottom()

'2009q2'

In [132]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp.loc[:, ['Unnamed: 4', 'Unnamed: 6'] ]
    gdp.rename(columns = {'Unnamed: 4': 'YearQuarter', 'Unnamed: 6': 'GDP in billions of chained 2009 dollars'}, 
               inplace = True)
    gdp = gdp[gdp['YearQuarter'].str[0] == '2']
    
    year_quarter = gdp['YearQuarter'].to_list()
    
    dt_names = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = [1,2])
    
    dt_after_2000 = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = lambda col: col[0] == '2')
    
    housing_df = pd.merge(dt_names, dt_after_2000, how = 'outer', left_index = True, right_index = True)
    

#     print(sum(housing_df.iloc[1,2:2+3].values)/3)

    def convertQuarter(row):
        for c in range(2, len(housing_df.columns),3):
            a_quarter = row[c:c+3].values
            ave = sum(a_quarter)/3
            new_col = year_quarter.pop(0)
            row[new_col] = ave
        return row
    
    temp = housing_df.apply(convertQuarter, axis = 1)
    
    return temp

          
convert_housing_data_to_quarters()

IndexError: pop from empty list

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"